/* elementor slick dots css */
.elementor-slick-slider .slick-dotted.slick-slider {
    margin-bottom: 0;
}
.elementor-slick-slider ul.slick-dots {
    bottom: 30px;
    text-align: right;
    padding-right: 50px;
}

.elementor-slick-slider ul.slick-dots li {
    margin-right: 5px;
    margin-left: 5px;
}

.elementor-slick-slider ul.slick-dots li button {
    background: #578ecf;
}